<body data-spy="scroll" data-target=".navbar-collapse">
<%= render 'cookies_eu/consent_banner', link: '/privacy', target: '_blank' %>
<div class="culmn">

  <nav class="navbar navbar-default navbar-fixed green no-background bootsnav">
    <div class="container">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
          <em class="fa fa-bars"></em>
        </button>
        <a class="navbar-brand" href="#brand">
          <img class="logo logo-display m-top-10" alt="Logo Vital'Marche" <%= image_tag "logo.png" %>
          <img class="logo logo-scrolled" alt="Logo Vital'Marche" <%= image_tag "logo.png" %>
        </a>
      </div>

      <div class="collapse navbar-collapse" id="navbar-menu">
        <ul class="nav navbar-nav navbar-right blue" data-in="fadeInDown" data-out="fadeOutUp">
          <!--          <li><a href="#hello">ACCUEIL</a></li>-->
          <li><a href="#about">QUI SOMMES NOUS</a></li>
          <li><a href="#news">ACTUALITES</a></li>
          <li><a href="#join">REJOIGNEZ-NOUS</a></li>
          <li><a href="#photo-gallery">GALERIE</a></li>
          <li><a href="#contact">NOUS CONTACTER</a></li>
          <li> <%= link_to "ESPACE ADHERENTS", user_space_path, data: {turbolinks: false} %>
            <% if user_signed_in? %>
            <li class="nav-item hvr-grow">
              <%= link_to raw('<i class="fa fa-sign-out-alt"></i> <span class="d-md-none"></span>'), destroy_user_session_path, class: "nav-link-danger", title: "Déconnexion", method: :delete %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>

  <div class="messages-container-alert col-md-12">
    <% flash.each do |level, value| %>
      <% if value != "true" %>
        <% if level == "danger" %>
          <div class="alert alert-danger" role="alert">
            <a href="#" data-dismiss="alert" class="close">×</a>
            <%= value %>
          </div>
        <% else %>
          <div class="alert alert-info" role="alert">
            <a href="#" data-dismiss="alert" class="close">×</a>
            <%= value %>
          </div>
        <% end %>

      <% end %>
    <% end %>
  </div>

  <section class="hello background-cover slick">
    <div class="container slide slide--1">
      <div class="row bck_layer">
        <div class="main_home col-md-6">
          <div>
            <h1 class="home_text">Bienvenue <br/> sur notre site</h1>
          </div>
        </div>
        <div class="main_home col-md-6">
          <h3 class="slide_text text-justify"> Qu’est-ce que la marche nordique </h3>
          <h6 class="slide_text text-justify"> Plus dynamique que la randonnée, la marche nordique a pour principe
            d’accentuer le mouvement de balancier naturel des bras à l’aide de deux bâtons. <br><br>Le corps est ainsi
            propulsé vers l’avant. On va plus vite, plus loin avec moins de fatigue. <br><br>
            La dépense d’énergie est accrue et le plaisir de la pratique arrive dès les premières foulées car la
            technique est simple. <br><br>
            Accessible à tous, cette pratique ravira les jeunes, les moins jeunes, quelle que soit leur condition
            physique. <br><br>C’est aussi un sport familial et convivial qui regroupe un large public.
          </h6>
        </div>
      </div>
    </div>
    <div class="container slide slide--2">
      <div class="row bck_layer">
        <div class="main_home col-md-6">
          <div>
            <h1 class="home_text">Bienvenue <br/> sur notre site</h1>
          </div>
        </div>
        <div class="main_home col-md-6">
          <h3 class="slide_text text-justify"> Qu’est-ce que la marche nordique </h3>
          <h6 class="slide_text text-justify"> Plus dynamique que la randonnée, la marche nordique a pour principe
            d’accentuer le mouvement de balancier naturel des bras à l’aide de deux bâtons. <br><br>Le corps est ainsi
            propulsé vers l’avant. On va plus vite, plus loin avec moins de fatigue. <br><br>
            La dépense d’énergie est accrue et le plaisir de la pratique arrive dès les premières foulées car la
            technique est simple. <br><br>
            Accessible à tous, cette pratique ravira les jeunes, les moins jeunes, quelle que soit leur condition
            physique. <br><br>C’est aussi un sport familial et convivial qui regroupe un large public.
          </h6>
        </div>
      </div>
    </div>
    <div class="container slide slide--4">
      <div class="row bck_layer">
          <div class="main_home col-md-6">
            <div>
              <h1 class="home_text">Bienvenue <br/> sur notre site</h1>
            </div>
          </div>
          <div class="main_home col-md-6">
            <h3 class="slide_text text-justify"> Qu’est-ce que la marche nordique </h3>
            <h6 class="slide_text text-justify"> Plus dynamique que la randonnée, la marche nordique a pour principe
              d’accentuer le mouvement de balancier naturel des bras à l’aide de deux bâtons. <br><br>Le corps est ainsi
              propulsé vers l’avant. On va plus vite, plus loin avec moins de fatigue. <br><br>
              La dépense d’énergie est accrue et le plaisir de la pratique arrive dès les premières foulées car la
              technique est simple. <br><br>
              Accessible à tous, cette pratique ravira les jeunes, les moins jeunes, quelle que soit leur condition
              physique. <br><br>C’est aussi un sport familial et convivial qui regroupe un large public.
            </h6>
          </div>
        </div>
      </div>

  </section>

  <section id="about" class="about roomy-100">
    <div class="container">
      <div class="row">
        <div class="main_about">
          <div class="col-md-6">
            <div class="about_content">
              <h2 class="text-blue">QUI SOMMES NOUS</h2>
              <div class="separator_left"></div>

              <p>VITAL'MARCHE est une association, créée au cours de l’été 2018, domiciliée à Pierrefonds et affiliée à
                la Fédération Française de Randonnée.
                Elle est née de la volonté d’un groupe de marcheurs qui avait envie de partager un sport de plein air
                dans la bonne humeur.
                 
                Chaque semaine, nous nous retrouvons pour marcher et plus dès que l’occasion se présente.
              </p>

            </div>
          </div>
        </div>
      </div>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <hr/>
    <br/>
    <br/>
    <div class="container">
      <div class="row">
        <div class="about_bottom_content">
          <div class="col-md-4">
            <div class="about_bottom_item m-top-20">
              <div class="ab_head">
                <div class="ab_head_icon">
                  <i class="icofont"><i class="fas fa-walking"></i></i>
                </div>
                <h6 class="m-top-20 text-blue"> ENTRAÎNEMENTS</h6>
              </div>
              <p class="m-top-20"> Nous proposons 3 entraînements hebdomadaires (mardi matin, jeudi soir, samedi ou
                dimanche matin par alternance) encadrés par des animateurs diplômés.
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="about_bottom_item m-top-20">
              <div class="ab_head">
                <div class="ab_head_icon">
                  <i class="icofont"><i class="fas fa-tree"></i></i>
                </div>
                <h6 class="m-top-20 text-blue">CADRE</h6>
              </div>
              <p class="m-top-20">Les marches se déroulent principalement au cœur des massifs forestiers du Compiégnois
                (Forêts domaniales de Laigue et de Compiègne).
                 
                Ce périmètre offre une multitude de parcours variés (plats ou avec dénivelés, en plaine ou en sous-bois,
                sur de grandes allées ou sur des chemins moins fréquentés) qui évoluent au fil des saisons. </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="about_bottom_item m-top-20">
              <div class="ab_head">
                <div class="ab_head_icon">
                  <i class="icofont"><i class="fas fa-hiking"></i></i>
                </div>
                <h6 class="m-top-20 text-blue">SORTIES</h6>
              </div>
              <p class="m-top-20"> Des sorties sont également organisées sur une journée, ou un weekend. Rendez-vous sur
                l’espace <a href="#photo-gallery">galerie</a>. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="news" class="new fix">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="main_new roomy-100">
          <div class="head_title text-center">
            <br>
            <br>
            <h2 class="text-white">ACTUALITÉS</h2>
          </div>
          <div class="new_slid text-center">
            <% if (@articles.empty? != true) && (@articles.nil? != true) %>
              <% @articles.each do |article| %>
                <div class="new_item">
                  <div class="col-sm-10 col-sm-offset-1 row">
                    <div class="test_authour article_text">
                      <h2 class="text-white m-bottom-20"><%= article.title %></h2>
                    </div>
                    <div class="col-sm-4">
                      <img class="articles" <%= image_tag article.picture.to_s %>
                    </div>
                    <div class="col-sm-8 text-white">
                      <%= raw(article.content) %>
                      <div class="test_authour m-top-30">
                        <h6 class="text-white m-bottom-20"><%= article.date.day %>-<%= article.date.mon %>-<%= article.date.year %> <%= article.date.hour %>:<%= article.date.min %></h6>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <br>
  </section>

  <section id="join" class="about roomy-100">
    <div class="container">
      <div class="main_about">
        <div class="row">
          <div class="col-md-6">
            <div class="about_content">
              <br>
              <br>
              <br>
              <h2 class="text-blue">REJOIGNEZ-NOUS</h2>
              <div class="separator_left"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <p>
              Vous avez décidé de vous mettre (ou vous remettre) au sport et vous cherchez une activité complète,
              accessible, économique, tonique, dynamique, de plein air et conviviale.
              <br>
              Vous voulez essayer, 2 séances d’essais vous sont proposées avec prêt de bâtons.
              <br>
              Pour votre équipement, ne pas avoir trop chaud ni trop froid, c’est utiliser la méthode des
              multicouches.
              <br>
              Pour bien marcher il faut prendre soins de ses pieds
              <br>
              <br>
              <br>
              À prévoir :
            <li>De bonne chaussures adaptée à la marche nordique</li>
            <li>Un sac à dos avec boissons et encas</li>
            <li>Une paire de bâtons</li>
            <li>Une lampe frontale pour les entraînements nocturne</li>
            </p>
            <br>
            <br>
            <br>
            <br>
            <br>
          </div>
          <div class="col-md-6">
            <img class="join" <%= image_tag "image.jpg" %>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="photo-gallery" class="photo-gallery gallery">
  </section>

  <section id="contact" class="contact bg-mega fix">
    <div class="row center-div">
      <div class="main_contact">
        <div class="col-md-12">
          <div class="rage_widget">
            <div class="widget_head">
              <h3 class="text-center text-blue">NOUS CONTACTER</h3>
              <div class="separator_auto"></div>
            </div>
            <div class="text-center col-md-12">
              <p class="text-black">
                <li><b>Adresse postale</b> : Place de la Mairie 60350 PIERREFONDS</li>
              <li><b>Adresse email</b> : vitalmarche@gmail.com</li>
               
              <li>Bureau</li>
             <li><b>Présidente</b> :</li>
             <li> <b>Secrétaire</b>:</li> 
              <li><b>Trésorière</b> :</li>
              <li><b>Animateur Christophe</b> :  06.33.35.54.25</li>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 center-block center-block-contact">
        <%= form_tag('/contact_us') do %>
          <div class="row">

            <div class="col-sm-6">
              <div class="contact-group">
                <%= text_field_tag :name, nil, placeholder: 'Nom', class: 'contact-control' %>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="contact-group">
                <%= text_field_tag :email, nil, placeholder: 'Adresse mail', class: 'contact-control' %>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="contact-group">
                <%= text_area_tag :message, nil, placeholder: 'Message', class: 'contact-control form-contact' %>
              </div>
              <div class="form-group text-center">
                <%= submit_tag "ENVOYER", class: 'btn btn-primary' %>
              </div>
            </div>

          </div>

        <% end %>
      </div>
    </div>
  </section>

<!--
  <section id="maps">
    <div class="main_maps text-center fix">
      <div class="overlay overlay-maps"></div>
      <div class="maps_text">
        <h3 class="text-white" onclick="initMap()">Nous trouver <i class="fa fa-angle-down"></i></h3>
        <div id="map_canvas" class="mapheight"></div>
      </div>
    </div>
  </section>
-->

  <section id="sponsor" class="contact bg-mega fix">
    <div class="container">
      <div class="row sponso-row">
        <div class="col-md-4 sponso-div ">
          <img class="sponso" <%= image_tag "sponso/image.png" %>
        </div>
        <div class="col-md-4 sponso-div">
          <img class="sponso" <%= image_tag "sponso/image5.png" %>
        </div>
        <div class="col-md-4 sponso-div">
          <img class="sponso" <%= image_tag "sponso/image3.png" %>
        </div>
      </div>
      <div class="row sponso-row">
        <div class="col-md-4 sponso-div">
          <img class="sponso" <%= image_tag "sponso/image4.png" %>
        </div>
        <div class="col-md-4 sponso-div">
          <img class="sponso" <%= image_tag "sponso/image2.png" %>
        </div>
        <div class="col-md-4 sponso-div">
          <img class="sponso" <%= image_tag "sponso/image6.png" %>
        </div>
      </div>
    </div>
  </section>
  <footer id="footer" class="footer bg-black">
    <div class="container">
      <div class="row">
        <div class="main_footer text-center text-white p-top-40 p-bottom-30">
          <p class="wow fadeInRight" data-wow-duration="1s">
            <%= link_to "Vie privée", privacy_path, target: "_blank", data: {turbolinks: false} %> .
            Conçu avec
            <i class="fa fa-heart"></i>
            par
            <a target="_blank" href="https://github.com/lucaslamy">Lucas LAMY</a>
            2019.
          </p>
        </div>
      </div>
    </div>
  </footer>


</div>
<!-- TODO: Insert API Key here -->
<!--<script async="false" src="https://maps.google.com/maps/api/js?key= ?? &callback=initMap" async defer></script>-->
<%= javascript_include_tag 'home.js', 'data-turbolinks-track': 'reload' %>
<script>
    document.querySelector('#photo-gallery').appendChild(JGallery.create([
        <% @albums.each do |album| %>
        {
            title: '<%= album.title %>',

            items: [
                <% album.picture.each do |picture| %>
                {
                    url: '<%=picture.to_s %>',
                    thumbUrl: '<%=picture.to_s %>'
                }<% if picture != album.picture.last %>, <%end%><%end%>
            ]
        }<% if album != @albums.last %>, <%end%><%end%>]).getElement());

</script>
</body>
</html>
