<head>
  <%= stylesheet_link_tag 'user_space', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <title>Espace adhérent du site Vital'Marche</title>
</head>
<% if @pop_up != nil && session[:pop_up] != 1 %>
  <% session[:pop_up] = 1 %>
  <div class="modal" tabindex="-1" id="myModal" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Évenement à venir !</h5>
        </div>
        <div class="modal-body">
          <p>Le <%= @pop_up.date.day %>-<%= @pop_up.date.mon %>-<%= @pop_up.date.year %> à <%= @pop_up.date.hour %>
            :<%= @pop_up.date.min %>, à <%= @pop_up.position %>, aura lieu <%= @pop_up.title %>.</p>
          <hr>
          <div class="modal-body row">
            <% if @pop_up.picture.to_s.length > 1 %>
              <div class="col-md-4">
                <img class="event-picture" alt="Photo pop-up" <%= image_tag @pop_up.picture.to_s %>
              </div>
              <div class="col-md-8">
                <%= raw(@pop_up.content) %>
              </div>
            <% else %>
              <div class="col-md-12">
                <%= raw(@pop_up.content) %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-modal-primary">OK</button>
        </div>
      </div>
    </div>
  </div>
<% end %>
<nav class="navbar navbar-default navbar-fixed green no-background bootsnav">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
        <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand" href="#brand">

        <img class="logo logo-display m-top-10" <%= image_tag "logo.png" %>
        <img class="logo logo-scrolled"  <%= image_tag "logo.png" %>

      </a>
    </div>
    <!-- End Header Navigation -->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-menu">
      <ul class="nav navbar-nav navbar-right blue" data-in="fadeInDown" data-out="fadeOutUp">
        <li><a href="#planning">PLANNING</a></li>
        <li><a href="#pdf">GAZETTES</a></li>
        <li><a href="#form">QUESTIONNAIRE</a></li>
        <li> <%= link_to "RETOUR ACCUEIL", root_path %>
          <% if user_signed_in? %>
          <li class="nav-item hvr-grow">
            <%= link_to raw('<i class="fa fa-sign-out-alt"></i> <span class="d-md-none"></span>'), destroy_user_session_path, class: "nav-link-danger", title: "Déconnexion", method: :delete %>
          </li>
        <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="scrollup">
  <a href="#"><i class="fa fa-chevron-up"></i></a>
</div>

<section class="user_space-slide">
  <div class="container ">
    <div class="row bck_layer">
      <div class="user_space_buttons">
        <div class="main_home user_space_text_div col-md-12">
          <div>
            <h1 class="user_space_text">Bienvenue sur votre espace adherents</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="planning" class="">
  <br>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="about_content">
          <h2>PLANNING</h2>
          <div class="separator_left"></div>
        </div>
      </div>
    </div>
    <div class="row calendar-container">
      <div class="new_slid_calendar col-md-12">
        <div class="new_item">
          <div class="col-sm-10 col-sm-offset-1 row">
            <%= month_calendar start_date: Date.today, events: @events do |date, meetings| %>
              <%= date.day %>
              <% meetings.each do |meeting| %>
                <div>
                  <br>
                  <a href="#eventModal<%= meeting.id %>" data-toggle="modal" data-target="#eventModal<%= meeting.id %>"><%= meeting.title %></a>
                </div>

                <div class="modal eventModal fade" id="eventModal<%= meeting.id %>" tabindex="-1" role="dialog" aria-labelledby="eventModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="eventModalLabel"><%= meeting.title %> - <%= meeting.position %>
                          - <%= meeting.date.day %>/<%= meeting.date.mon %>/<%= meeting.date.year %></h5>
                      </div>
                      <div class="modal-body row">
                        <% if meeting.picture.to_s.length > 1 %>
                          <div class="col-md-4">
                            <img class="event-picture" <%= image_tag meeting.picture.to_s %>
                          </div>
                          <div class="col-md-8">
                            <%= raw(meeting.content) %>
                          </div>
                        <% else %>
                          <div class="col-md-12">
                            <%= raw(meeting.content) %>
                          </div>
                        <% end %>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="new_item">
          <div class="col-sm-10 col-sm-offset-1 row">
            <%= month_calendar start_date: @next_month, events: @events do |date, meetings| %>
              <%= date.day %>
              <% meetings.each do |meeting| %>
                <div>
                  <br>
                  <p class="text-blue"><%= meeting.title %></p>
                </div>
              <% end %>
            <% end %>
            <br>
            <br>
            <br>
            <br>
            <br>
          </div>
        </div>
        <div class="new_item">
          <div class="col-sm-10 col-sm-offset-1 row">
            <%= month_calendar start_date: @next_next_month.to_date, events: @events do |date, meetings| %>
              <%= date.day %>
              <% meetings.each do |meeting| %>
                <div>
                  <br>
                  <%= meeting.title %>
                </div>
              <% end %>
            <% end %>
            <br>
            <br>
            <br>
            <br>
            <br>
          </div>
        </div>
      </div>
    </div>

  </div>
  </div>
</section>



<section id="pdf" class="new fix">
  <div class="overlay"></div>
  <div class="container">
    <br>
    <br>
    <br>
    <div class="row">
      <div class="main_new">
        <div class="head_title text-center row">
          <div class="col-md-5">
            <i class='fas fa-chevron-left slid_prev'></i>
          </div>
          <h2 class="col-md-2 text-white">GAZETTE</h2>
          <div class="col-md-5">
            <i class='fa fas fa-chevron-right slid_next'></i>
          </div>

        </div>
        <div class="row">
          <div class="pdf_slid text-center">
            <% if (@pdfs.empty? != true) && (@pdfs.nil? != true) %>
              <% @pdfs.each do |pdf| %>
                <div class="pdf_item pdf-container row ">
                  <div class="pdf-content">
                    <img class="pdf-img" <%= image_tag pdf.file.to_s %>
                  </div>
                  <br>
                  <div class="test_authour article_text">
                    <h4 class="text-white"><%= pdf.title %></h4>
                  </div>
                  <div class="m-bottom-20">
                    <%= link_to "Consulter", pdfjs.full_path(file: pdf.file), class: "btn btn-primary", target: :_blank %>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
        <br>
        <br>
        <br>
      </div>
    </div>
  </div>
</section>

<section id="form" class="about roomy-100">
  <div class="container">
    <div class="main_about">
      <div class="row">
        <div class="col-md-6">
          <div class="about_content">
            <br>
            <br>
            <h2>QUESTIONNAIRE</h2>
            <div class="separator_left"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <p>
            Veuillez remplir le questionnaire suivant s'il vous plaît.
          </p>
          <br>
          <br>
          <br>
          <%= link_to "Google Form", @form.url, class: "btn btn-primary text-white", target: :_blank %>
          <br>
          <br>
        </div>
        <div class="col-md-6">
          <img class="join" <%= image_tag "image.jpg" %>
        </div>
      </div>
    </div>
  </div>
</section>
<%= javascript_include_tag 'simple_user.js', 'data-turbolinks-track': 'reload' %>
<script>
    <% if @pop_up != nil %>
    $(window).on('load', function () {
        $('#myModal').modal('show');
    });
    <% end %>
</script>



