<body data-spy="scroll" data-target=".navbar-collapse">


<div class="culmn">
  <!--Home page style-->


  <nav class="navbar navbar-default navbar-fixed green no-background bootsnav">

    <div class="container">

      <!-- Start Header Navigation -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
          <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand" href="#brand">

          <img class="logo logo-display m-top-10" <%= image_tag "logo.png" %>
          <img class="logo logo-scrolled"  <%= image_tag "logo.png" %>

        </a>
      </div>
      <!-- End Header Navigation -->

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbar-menu">
        <ul class="nav navbar-nav navbar-right blue" data-in="fadeInDown" data-out="fadeOutUp">
          <li> <%= link_to "RETOUR ACCUEIL", root_path %>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div>


  </nav>


  <!--Home Sections (id hello home bg-mega) -->
  <section class="user_space-slide">
    <!--    <div class="overlay"></div>-->
    <div class="container ">
      <div class="row bck_layer">
        <div class="user_space_buttons">
          <div class="main_home col-md-12">
            <div>
              <h1 class="user_space_text">Espace administrateur</h1>
            </div>
          </div>
          <div class="main_home col-md-12">
            <div class="user_space_button col-md-6">
              <%= link_to "Tableau de bord", admin_users_path, class: "btn btn-outline-secondary col-md-12" %>
            </div>
            <div class="user_space_button col-md-6">
              <%= link_to "Gérer les albums", album_space_path, class: "btn btn-outline-secondary col-md-12" %>
            </div>
          </div>
        </div>
      </div><!--End off row-->
    </div><!--End off container -->
  </section> <!--End off Home Sections-->
</div><!--End off container -->
</section><!--End off Contact Section-->


<footer id="footer" class="footer bg-black">
  <div class="container">
    <div class="row">
      <div class="main_footer text-center p-top-40 p-bottom-30">
        <p class="wow fadeInRight" data-wow-duration="1s">
          Made with
          <i class="fa fa-heart"></i>
          by
          <a target="_blank" href="https://github.com/lucaslamy">Lucas LAMY</a>
          2019. All Rights Reserved
        </p>
      </div>
    </div>
  </div>
</footer>


</div>
</body>
</html>
